<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applee.MyCalligraphy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />
    
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />"
    
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:resizeable="true"
		android:anyDensity="true" />
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
			android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:name="com.applee.MyCalligraphy.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SettingListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.mylistview3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity android:name="FontListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.mylistview3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
